{% extends "Vigilantix/layout.html" %} {% block body %}
<div
  class="h-screen flex flex-col items-center"
  style="background-image: linear-gradient(to right, #141b34, #203374)"
>
  <div
    style="
      width: 60%;

      background-image: linear-gradient(
        to left,
        rgba(31, 183, 155, 0.22),
        rgba(113, 65, 191, 0.22)
      );
      border-radius: 20px;
    "
    class="mt-5"
  >
    <h2
      class="mb-4 pt-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
    >
      Login
    </h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form
      class="form-group flex flex-col items-center"
      action="{% url 'Vigilantix:login' %}"
      method="post"
    >
      {% csrf_token %}
      <div style="width: 60%" class="form-group flex flex-col items-center">
        <label
          class="block text-center text-lg font-bold mb-2 text-slate-300"
          for="Longitude"
        >
          Username
        </label>
        <input
          autofocus
          class="shadow text-center appearance-none border-none text-white rounded w-full py-2 px-3 leading-tight focus:outline-none"
          type="text"
          style="background-color: #176693; width: 60%"
          name="username"
          placeholder="Username"
        />
      </div>
      <div style="width: 60%" class="form-group flex flex-col items-center">
        <label
          class="block text-center text-lg font-bold mb-2 text-slate-300"
          for="Longitude"
        >
          password
        </label>
        <input
          class="shadow text-center appearance-none border-none text-white rounded w-full py-2 px-3 leading-tight focus:outline-none"
          style="background-color: #176693; width: 60%"
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <input
        tyle="
      width: 11rem;
      box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.3);
      border: none;
      outline: none;
    "
        class="inline-block border-0 bg-slate-100 px-6 pb-2 mt-8 pt-2.5 text-lg uppercase text-slate-700 font-bold hover:bg-slate-600 hover:shadow-lg hover:border-white transition duration-500 hover:text-white"
        type="submit"
        value="Login"
      />
    </form>
    <div
      class="mb-4 pt-4 text-4xl tracking-tight font-light text-center text-gray-900 dark:text-white"
    >
      Don't have an account? <a href="{% url 'Vigilantix:register' %}">Register here.</a>
    </div>
  </div>
</div>

{% endblock %}
