{% extends "Vigilantix/layout.html" %} {% load static %}{% block body %} 
{% if message %}
<h2
class=" py-3 font-light text-center"
style="color:white; background-color: #626ac4; font-size:28px;"
>
  {{message}}
</h2>
{% endif %}

<div
  class="h-screen flex flex-col items-center"
  style="background-image: linear-gradient(to right, #141b34, #203374)"
>
  <div
    style="
      width: 60%;

      background-image: linear-gradient(
        to left,
        rgba(31, 183, 155, 0.22),
        rgba(113, 65, 191, 0.22)
      );
      border-radius: 20px;
    "
    class="mt-5"
  >
    <br />
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
    >
      Register Yourselves
    </h2>

    <form action="register" method="post" class="px-8 pt-6 pb-2 mb-4">
      {% csrf_token %}
      <div class="mb-4">
        <label
          class="block text-center text-lg font-bold mb-2 text-slate-300"
          for="Longitude"
        >
          Email
        </label>
        <input
          class="shadow text-center appearance-none border-none text-white rounded w-full py-2 px-3 leading-tight focus:outline-none"
          id="Longitude"
          style="background-color: #176693"
          type="text"
          name="email"
          placeholder="exmaple@gmail.com"
        />
      </div>
      <div class="mb-4">
        <label
          class="block text-center text-lg font-bold mb-2 text-slate-300"
          for="Longitude"
        >
          First Name
        </label>
        <input
          class="shadow text-center appearance-none border-none text-white rounded w-full py-2 px-3 leading-tight focus:outline-none"
          id="Longitude"
          style="background-color: #176693"
          type="text"
          name="firstname"
          placeholder="First Name"
        />
      </div>
      <div class="mb-4">
        <label
          class="block text-center text-lg font-bold mb-2 text-slate-300"
          for="Longitude"
        >
          Last Name
        </label>
        <input
          class="shadow text-center appearance-none border-none text-white rounded w-full py-2 px-3 leading-tight focus:outline-none"
          id="Longitude"
          style="background-color: #176693"
          type="text"
          name="lastname"
          placeholder="Last Name"
        />
      </div>
      <div class="mb-4">
        <label
          class="block text-center text-lg font-bold mb-2 text-slate-300"
          for="Longitude"
        >
          Aadhar Card Number
        </label>
        <input
          class="shadow text-center appearance-none border-none text-white rounded w-full py-2 px-3 leading-tight focus:outline-none"
          id="Longitude"
          style="background-color: #176693"
          type="text"
          name="aadhar"
          placeholder="Aadhar Number here"
        />
      </div>
      <div class="mb-4">
        <label
          class="block text-center text-lg font-bold mb-2 text-slate-300"
          for="Longitude"
        >
          Password
        </label>
        <input
          class="shadow text-center appearance-none border-none text-white rounded w-full py-2 px-3 leading-tight focus:outline-none"
          id="Longitude"
          style="background-color: #176693"
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <div class="flex flex-col items-center">
        <button
          style="
            width: 11rem;
            box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.3);
            border: none;
            outline: none;
          "
          class="inline-block border-0 bg-slate-100 px-6 pb-2 mt-8 pt-2.5 text-lg uppercase text-slate-700 font-bold hover:bg-slate-600 hover:shadow-lg hover:border-white transition duration-500 hover:text-white"
        >
          <input type="submit" value="SUBMIT" />
        </button>
      </div>
    </form>
  </div>
</div>

{%endblock %}
